    /* Colors */

:root {
    --plumbeum: #253840;
    --cash: #20A89A;
    --cash_lives: #4FDB85;
    --gray_light: #FAFAFA;
    --gray_00: #FAFAF0;
    --gema: #E8FFF1;
}


/* Fonts */

@font-face {
    font-family: "BankGothic Lt BT";
    src: url('font/bgothic.ttf') format('truetype');
}


/* Tags */

head {
    height: 1%;
}

body {
    height: 100%;
    background: white;
}

footer {
    background: var(--plumbeum);
    bottom: 0px;
    width: 100%;
    height: 15vh
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--plumbeum);
}

h1 {
    color: var(--gray_light);
    margin-top: 0 !importante;
    margin-bottom: 0 !importante;
}

h4 {
    color: var(--cash);
    margin-top: 0 !importante;
    margin-bottom: 0 !importante;
}

h5{
    color: white;
}

ul {
    margin: 0px;
}

li {
    list-style-type: none;
}


/* Class */

.icon-24 {
    max-height: 24px;
    float: right;
}

.icon-40 {
    max-height: 40px;
    padding: 1vw;
    position: fixed;
    right: .5vw;
    float: right;
}

.icon-128 {
    max-height: 128px;
    margin: 0 auto;
}

.center-me {
    text-align: center;
    margin: 0 auto;
}

.center-me-v {
    margin-bottom: 50%;
    position: absolute;
}

.fixed-me {
    position: fixed !important;
}

.padding-right {
    padding-right: 8% !important;
}

.padding-top {
    padding-top: .6% !important;
}

.padding-top2 {
    padding-top: 15% !important;
}

.ocupation {
    font-size: 10px;
    line-height: 3px;
    margin-bottom: 10px;
}

.enterprise {
    width: 48%;
    float: left;
    padding-left: 2%;
    height: inherit;
}

.enterprise span {
    font-family: "BankGothic Lt BT" !important;
    font-size: 32px;
    color: white;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

.social {
    padding-left: 0px;
    padding-right: 2%;
    float: right;
    height: inherit;
}

.social li {
    width: 40px;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

.BankGothic-font {
    font-family: "BankGothic Lt BT" !important;
}

.developers {
    padding-bottom: 2.5%;
    background: var(--gray_light);
}

.developers h4 {
    padding-left: 5%;
}

p {
    text-align: center;
}

.developers table {
    margin: 0 auto;
}

.developers table h4 {
    margin-left: -200% !important;
}

.developers table td {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
}

.divisor {
    height: .3vh;
    width: 100%;
    background: var(--cash);
}

.fixed_nav {
    position: fixed;
    min-height: 12%;
    width: 100%;
    background: var(--cash_lives) !important;
}

.non_fixed_nav {
    position: absolute;
    height: 100%;
    float: left;
    width: 100%;
    background: linear-gradient(0deg, var(--cash_lives), var(--cash)) !important;
}

.content {
    padding-top: 100vh;
    padding-left: 5%;
    max-width: 100vw;
    min-height: 100vh;
}

.content table {
    border: 1px;
    border-color: var(--gema);
    border-style: solid;
}

.content td {
    font-family: "BankGothic Lt BT" !important;
    border: 1px;
    font-size: 10px;
    line-height: 12px;
    border-color: var(--gray_light);
    border-style: solid;
}

.content .championship {
    border: 0;
    font-size: 10px;
    color: var(--cash_light) !important;
}

.content .schedule {
    width: auto;
}

.content .home {
    width: 20vw;
    text-align: right;
}

.content .home_pts {
    background: var(--home);
}

.content .separator {
    text-align: center;
}

.content .out_pts {}

.content .out {
    width: 20vw;
    text-align: left;
}


/* Ids */


/* Little Screens (portrait and landscape) ———– */

@media only screen and (min-device-width: 100px) and (max-device-width: 320px) {}


/* Smartphones (portrait and landscape) ———– */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}


/* Smartphones (landscape) ———– */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (landscape) ———– */

@media and (orientation: portrait) {
    .padding-top2 {
        padding-top: 65% !important;
    }
    /* Styles */
}

/* Smartphones (landscape) ———– */

@media only screen and (min-width: 321px) and (orientation: portrait) {
    .padding-top2 {
        padding-top: 65% !important;
    }
    /* Styles */
}



/* iPads (portrait and landscape) ———– */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ———– */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ———– */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}


/* Desktops and laptops ———– */

@media only screen and (min-width: 1024px) {
    /* Large screens ———– */
    @media only screen and (min-width: 1824px) {
        /* Styles */
    }
    /* iPhone 4 ———– */
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        /* Styles */
    }
