/* Colors */

:root {
  --plumbeum: #253840;
  --cash: #208aa8;
  --cash_lives: #4fdbb7;
  --gray_light: #FAFAFA;
  --gray_00: #FAFAF0;
  --gema: #E8FFF1;
}

color:
/* Tags */

html {
  height: 100vh;
  position: fixed;
}

form {
  top: -1em;
  text-align: start;
  right: -.5em;
  position: relative;
}

form label {
  float: right;
}

form .mdl-button--icon {
  position: absolute;
  width: auto;
  top: .87em;
  height: 1.2em;
  min-width: 1.2em;
  right: .5em;
}

footer {
  bottom: 0px;
  width: 100%;
  position: absolute;
  height: 2em;
  color: var(--gray_light) !important;
  font-weight: 100;
  font-family: "Roboto";
}

a {
  color: var(--gray_light) !important;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray_light);
  font-weight: 100 !important;
}

h1 {
  color: var(--gray_light);
  margin-top: 0 !importante;
  margin-bottom: 0 !importante;
  font-weight: 200 !important;
}

h4 {
  color: var(--gray_light);
  height: 0 auto;
  margin-top: 0 !importante;
  margin-bottom: 0 !importante;
}

h5 {
  font-weight: 100 !important;
  color: var(--gray_light);
}

ul {
  margin: 0px;
}

li {
  list-style-type: none;
}

td {
  margin: auto;
}

table {
  height: 100%;
}


/* Class */

form .mdl-textfield__label {
  color: rgba(105, 105, 105, 0.65);
}

.bar {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50vw;
  height: 1.5em;
  border: none;
  -webkit-border-radius: 322px;
  border-radius: 322px;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 0px -1px 15px -1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -1px 15px -1px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.bar spam {
  color: var(--plumbeum);
  line-height: 1.5em;
  width: calc(50vw - 2*(1.2em));
}

.logo i {
  background: url("../images/brand.png") no-repeat center / 80%;
  height: 10em;
}

.logo.mdl-card {
  background: transparent;
  margin: auto;
}

.icon-24 {
  max-height: 24px;
  float: right;
}

.icon-40 {
  max-height: 40px;
  padding: 1vw;
  position: fixed;
  right: .5vw;
  float: right;
}

.icon-64 {
  max-height: 64px;
  margin: 0 auto;
}

.icon-128 {
  max-height: 128px;
  margin: 0 auto;
}

.center-me {
  text-align: center;
  margin: 0 auto;
}

.center-me-v {
  margin-bottom: 50%;
  position: absolute;
}

.fixed_nav {
  opacity: 0.8;
  position: fixed;
  min-height: 12%;
  width: 100%;
  background: var(--cash_lives) !important;
}

.non_fixed_nav {
  position: absolute;
  height: 100%;
  float: left;
  width: 100%;
  background: linear-gradient(0deg, var(--cash_lives), var(--cash)) !important;
}
