.demo-layout-transparent {
  
  background: green;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
#head{
  height: 1%;
}
body{
  height:100%;
  width:100%;
}
footer{
  bottom:0%;
  font-family: Heveltica;
}
#container{
  height:100%;
  width:100%;
}
.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}